.container1{
    background-color: aliceblue;
    left: 30%;
    top: 22%;
    position: absolute;
    padding: 10em;
    border-radius: 10px;
}

img{
  position: absolute;
width: 100%;
height: 98%;

}

